<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books' %}">Books</a>
            </li>
            
            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_book' %}">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_profile' user.id %}">My Profile</a>
                    </li>

                {% if perms.core.add_genre %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_genre' %}">Add Genre</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text text-white">Hello, {{ user.username }}</span>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
